@import 'tailwindcss';

@theme {
  --animate-blink: blink 1s steps(2, start) infinite;
  --animate-toast-in: toast-in 0.2s ease-out;

  @keyframes blink {
    to {
      visibility: hidden;
    }
  }

  @keyframes toast-in {
    from {
      opacity: 0;
      transform: translateX(-10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c6cbdb;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #3a4152;
}